/**
 * Responsive Breakpoints
 *
 * Provides breakpoint values and mixins for responsive design.
 */

// Breakpoint values
$breakpoints: (
  mobile: 768px,
  tablet: 1024px,
  desktop: 1280px,
  wide: 1536px
);

/**
 * Responsive breakpoint mixin
 *
 * Usage:
 *   @include respond-to(mobile) {
 *     // Styles for mobile and smaller
 *   }
 *
 * Available breakpoints: mobile, tablet, desktop, wide
 */
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: map-get($breakpoints, mobile) - 1) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet) - 1) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: map-get($breakpoints, tablet)) {
      @content;
    }
  } @else if $breakpoint == wide {
    @media (min-width: map-get($breakpoints, desktop)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}. Available breakpoints: mobile, tablet, desktop, wide";
  }
}

/**
 * Min-width breakpoint mixin
 *
 * Usage:
 *   @include min-width(tablet) {
 *     // Styles for tablet and larger
 *   }
 */
@mixin min-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

/**
 * Max-width breakpoint mixin
 *
 * Usage:
 *   @include max-width(mobile) {
 *     // Styles for mobile and smaller
 *   }
 */
@mixin max-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint) - 1) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}";
  }
}

/**
 * Custom breakpoint mixin
 *
 * Usage:
 *   @include custom-breakpoint(900px) {
 *     // Custom styles
 *   }
 */
@mixin custom-breakpoint($width) {
  @media (min-width: $width) {
    @content;
  }
}
