<div class="team-lists-container">
  @for (team of teams; track team) {
    <mat-list class="team-list" [ngClass]="{'buzzed': hasTeamBuzzed(team.teamId)}">
      <h3 mat-subheader>
        <b>{{ team.teamName }} - ({{ getTeamScore(team) }})</b>
        @if (getTeamBonusScore(team.teamId) > 0) {
          <span class="score-breakdown">
            <mat-icon class="bonus-icon">stars</mat-icon>
            +{{ getTeamBonusScore(team.teamId) }} bonus
          </span>
        }
      </h3>
      @for (player of team.teamPlayers; track player) {
        <mat-list-item
                   [ngClass]="{
                     'current-buzz': isCurrentBuzz(player.playerId),
                     'current-player': isCurrentPlayer(player.playerId)
                   }">
          @if (isCurrentPlayer(player.playerId)) {
            <mat-icon class="current-player-icon">person</mat-icon>
          }
          {{ player.name }} - ({{ getPlayerScore(player.playerId) }})
        </mat-list-item>
      }
    </mat-list>
  }
</div>
