<div class="team-lists-container">
  <mat-list *ngFor="let team of teams" class="team-list" [ngClass]="{'buzzed': hasTeamBuzzed(team.teamId)}">
    <h3 mat-subheader>
      <b>{{ team.teamName }} - ({{ getTeamScore(team) }})</b>
      <span class="score-breakdown" *ngIf="getTeamBonusScore(team.teamId) > 0">
        <mat-icon class="bonus-icon">stars</mat-icon>
        +{{ getTeamBonusScore(team.teamId) }} bonus
      </span>
    </h3>
    <mat-list-item *ngFor="let player of team.teamPlayers"
                   [ngClass]="{
                     'current-buzz': isCurrentBuzz(player.playerId),
                     'current-player': isCurrentPlayer(player.playerId)
                   }">
      <mat-icon *ngIf="isCurrentPlayer(player.playerId)" class="current-player-icon">person</mat-icon>
      {{ player.name }} - ({{ getPlayerScore(player.playerId) }})
    </mat-list-item>
  </mat-list>
</div>
