<!-- Game Session Container -->
@if (gameSession$ | async) {
  <div>
    <!-- Config component -->
    @if (shouldShowConfigComponent()) {
      <div>
        <app-game-config class="game-session"></app-game-config>
      </div>
    }
    <!-- Proctor component -->
    @if (shouldShowProctorComponent()) {
      <div>
        <app-game-proctor></app-game-proctor>
      </div>
    }
    <!-- Auto-proctor multiplayer component -->
    @if (shouldShowAutoProctorComponent()) {
      <div>
        <app-game-auto-proctor></app-game-auto-proctor>
      </div>
    }
    <!-- Single-player component -->
    @if (shouldShowSinglePlayerComponent()) {
      <div>
        <app-game-single-player></app-game-single-player>
      </div>
    }
    <!-- Buzzer component -->
    @if (shouldShowBuzzerComponent()) {
      <div>
        <app-game-buzzer></app-game-buzzer>
      </div>
    }
    <!-- Spectator component -->
    @if (shouldShowSpectatorComponent()) {
      <div>
        <app-game-spectator></app-game-spectator>
      </div>
    }
    <!-- Match summary component -->
    @if (shouldShowMatchSummaryComponent()) {
      <div>
        <app-match-summary></app-match-summary>
      </div>
    }
  </div>
}
